html,body{margin: 0; padding: 0;background: white!important;}
.modal{top: 10%;}
/* 头部 */
.navbar.navbar-orange{background: #f50;margin-bottom: 0;border: none;border-radius: 0px;}
.navbar-header > .navbar-brand{padding: 10px;}
.navbar-header > .navbar-form{margin-top: 0px ; margin-bottom: 0px; border-top: none; border-bottom: none;padding-right: 24px;padding-top: 10px;}
.navbar-header > .navbar-form .input-group-addon{background: white; color: #ccc;}

/* banner*/
.banner-container{position: relative; margin: 0 -15px;height: 100px;}
.banner{position: absolute; left: 0px; right: 0px;top: 0px;bottom: 0px;z-index: 0;background-repeat: no-repeat;background-size: cover;background-position: center;transition: all 0.3s ease-in;opacity: 0;}
.banner.active{z-index: 1;opacity: 1;}
.banner:hover{cursor: pointer;}
.banner-controller-container{display: block; position: absolute; height: 20px;width: 100%; text-align: center;bottom: 0px;left: 0px;z-index: 100;}
.banner-controller{display: inline-block; list-style: none;width: auto;height: 28px; padding: 4px;margin: 0 auto;}
.banner-controller > li{float: left;height: 20px; line-height: 20px;margin-left: 8px;}
.banner-controller > li{display: inline-block;border: 1px solid #ccc; background: transparent;width: 12px; height: 12px; border-radius: 6px;}
.banner-controller > li.active{background: rgba(180,180,180,0.9);}
.banner-controller > li:hover{background: rgba(180,180,180, 0.3);cursor: pointer;}

/* 菜单 */
.menu-container{position: relative;height: 100px;text-align: center;font-family: SimHei;font-size: 16px;color: #666;}
.menu-container .menu-item .menu-image{height: 80px;background-position: center;background-size: 80px 80px;background-repeat: no-repeat;}
.menu-container .menu-item:nth-child(1) .menu-image{background-image: url(../image/shopping-cart-on.png);}
.menu-container .menu-item:nth-child(2) .menu-image{background-image: url(../image/money-on.png);}
.menu-container .menu-item:nth-child(3) .menu-image{background-image: url(../image/recommend-on.png);}
.menu-container .menu-item:nth-child(4) .menu-image{background-image: url(../image/return-on.png);}

/* 商品  */
.goods-container{width: 100%;float: left;position: relative;margin-top: 5px;}
.goods-container .goods-item{padding-left: 10px; padding-right: 10px;margin-bottom: 10px;}
.goods-container .goods-item:nth-child(odd){padding-right: 5px;}
.goods-container .goods-item:nth-child(even){padding-left: 5px;}
.goods-image{width: 100%; height: 180px;background-position: center; background-size: cover;background-repeat: no-repeat;display: block;}
.goods-name{height: 48px;padding: 5px 0; color: #282828;text-overflow: ellipsis;overflow: hidden;}
.goods-original-price{font-size: 14px;padding: 3px 0;}
.goods-price{height: 70px;} 
.goods-original-price > .goods-sold-count{float: right;height: 25px; line-height: 25px;padding: 0 5px;font-size: 12px;color: #444;}
.goods-price > .goods-off-price{color: #f50;padding:0 8px;float: left;font-size: 18px;}
.goods-price > .goods-real-price{background: url(../image/chat-frame.png) no-repeat 10% center;background-size: cover;padding:0 0 0 5px;width: 100px; height: 25px;color: #f50;float: left;text-align: center;line-height: 25px;}
.goods-ticket{display: block;padding: 5px 10px;margin-right: 0px;width: 110px;border: 1px dashed #f50;color: #f50;position: relative;text-align: center;border-radius: 4px;border-top-right-radius:0px; border-bottom-right-radius:0px; transition: all 0.3s ease-out;white-space: nowrap;text-overflow: ellipsis;}
.goods-ticket:hover,.goods-ticket:focus{color: #f50;text-decoration: none;}
.goods-ticket-container .goods-ticket:after{position: absolute;content: '领取';height: 32px; width: 40px;right: -40px; top: -1px;text-align: center;padding: 5px;background: #f50;color: white;border-top-right-radius: 4px;border-bottom-right-radius: 4px;opatity: 0;}

/* 下方 导航条 */
/* .nav-footer{position: fixed; left: 0; bottom: 0; height: 40px; width: 100%;box-shadow: 0px -1px 1px 1px rgba(250, 120, 0, 0.25);background: -webkit-linear-gradient(#f90, #f50, #f90);background: linear-gradient(#f90, #f50, #f90);background: -moz-linear-gradient(#f90, #f50, #f90);background: -o-linear-gradient(#f90, #f50, #f90);display: flex; display: -webkit-flex;justify-content: center;align-items: center;}
.nav-footer-item{flex: 1 1 auto;text-align: center;display: block;text-decoration: none;}
.nav-footer-item i.fa{color: #ccc;}
.nav-footer-item:not(:last-child){border-right: 1px solid #ccc;}
.nav-footer-item.dropup .dropdown-menu{width: 100%;color: white; background: #f50;font-size: 15px;text-align: center;} */
/* 竖形工具条*/
.toolbar-fixed-r-b{display: block; position: fixed; right: 10px; bottom: 65px;width: 30px;background: rgba(150,150,150,0.5);}
.toolbar-fixed-r-b .toolbar-tool{width: 30px; height: 30px;display: none;text-align: center; line-height: 30px; coloe: #999;}
.toolbar-fixed-r-b .toolbar-tool:not(:last-child){border-bottom: 1px solid #ccc;}
.toolbar-fixed-r-b .toolbar-tool.show{display: block;}








